-- Author: Sutherland Nele, 24/03/2019

-- ******* MAKE SURE YOU BACKUP YOUR DATABASE BEFORE YOU RUN THIS SCRIPT. VERY VERY IMPORTANT!!

USE [FleetManagement]
GO

--A. FIX SOME ISSUES ON PERMISSIONS TABLES

UPDATE [dbo].[AppInterface]
   SET [Description] = 'VEHICLE_REGISTER'      
 WHERE InterfaceId = 28
GO

INSERT INTO [dbo].[AppInterface]
           ([Description]
           ,[MenuId])
     VALUES
           ('VIEW_BOS_VEHICLES'
           ,1)
GO

UPDATE [dbo].[AppActions]
   SET [Description] = 'DISPOSE_VEHICLE'     
 WHERE ActionId = 3
GO

INSERT INTO [dbo].[AppActions]
           ([Description]
           ,[InterfaceId])
     VALUES
           ('VIEW_BOS_VEHICLES'
           ,42)
GO


--Add View Vehicles Functionality
INSERT INTO [dbo].[AppActions]
           ([Description]
           ,[InterfaceId])
     VALUES
           ('VIEW_VEHICLES'
           ,28)
GO
--Rename Manage Vehicle Registry
UPDATE [dbo].[AppActions]
   SET [Description] = 'UPDATE_VEHICLE_REGISTRY'     
 WHERE ActionId = 2
GO

-- Remove Manage Fuel Voucher Action
delete from AppRoleActionAccess
where ActionId = 87
go
DELETE FROM  [dbo].[AppActions]
WHERE ActionId = 87
GO

--Update View Fuel Voucher to Acquit and move to Fuel Register Interface
UPDATE [dbo].[AppActions]
   SET [Description] = 'ACQUIT_FUEL_VOUCHER'
	   , InterfaceId = 1     
 WHERE ActionId = 88
GO

--Remove Fuel Voucher Interface
delete from AppRoleInterfaceAccess
where InterfaceId = 33
go
DELETE FROM  [dbo].AppInterface
WHERE InterfaceId = 33
GO

-- Remove Staff and Supplier Action - Both come under Contacts Management
delete from AppRoleActionAccess
where ActionId in (26,27,28,29,30,31)
go
DELETE FROM  [dbo].[AppActions]
where ActionId in (26,27,28,29,30,31)
GO



--B. TRUNCATE ALL VEHICLE, DISPOSAL, AUDIT, REFUEL, SERVICE, SERVICE SCHEDULE, COMPLIANCE, INCIDENT, ALLOCATION, TRANSFER TABLES


truncate table [dbo].[MstSqlAudit]
go

truncate table [dbo].[MstVehicleRefuel]
go

truncate table [dbo].[MstService]
go

truncate table [dbo].[MstScheduleService]
go


truncate table [dbo].[MstCompliance]
go

truncate table [dbo].[TrnVehicleAllocation]
go

truncate table [dbo].[MstVehicleTransfer]
go

truncate table [dbo].[MstVehicleDisposal]
go

truncate table [dbo].[MstIncidentFileUpload]
go

truncate table [dbo].[MstFuelVoucher]
go


DELETE FROM [dbo].[MstIncident]
DBCC CHECKIDENT ('FleetManagement.dbo.MstIncident',RESEED, 0)
go

DELETE FROM [dbo].[MstVehicle]
DBCC CHECKIDENT ('FleetManagement.dbo.MstVehicle',RESEED, 392)
go



--C. Populate Vehicle Table with new 2019 Vehicle Register Records. 391 records. That's why we have reseed set at 392 above

SET IDENTITY_INSERT [dbo].[MstVehicle] ON 
GO
SET IDENTITY_INSERT [dbo].[MstVehicle] OFF
GO
