@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}



<div>
    <p>
       <span style="font-size:30px; color:green;" class="k-icon k-i-check-outline"></span> Your password has been reset. Please click @Html.ActionLink("Here", "Login", "Security", routeValues: null, htmlAttributes: new { id = "loginLink" }) to login.
    </p>
</div>


