<div class="col-md-12">
    <div class="formButtonRegion">
    @(Html.Kendo().Button()
                .Name("btnSave")
                .Icon("save")
                .Content("Save")                
                .HtmlAttributes(new { type = "submit", @class = "k-button k-primary" })
    )
    @(Html.Kendo().Button()
                .Name("btnClose")
                .Content("Close")
                .HtmlAttributes(new { type = "button", @class = "k-button" })
                .Icon("close")              
    )
    </div>
</div>


       
