<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="FMSEntities" connectionString="Password=fleet@2011;Persist Security Info=true;User ID=fleetuser;Initial Catalog=FleetManagement;Data Source=CCPC01\SQLEXPRESS;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>